{% extends 'base.html' %}
{% load static %}

{% block 'content' %}
<div class="form-container">
    <h1 class="form-title">Agregar Inmueble</h1>
    <form method="post" class="custom-form" name="crear_inmueble">
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        <div class="row">
            {% for field in form %}
              <div class="col-md-6 mb-3">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
              </div>
            {% endfor %}
        </div>
        
        <button type="submit" class="btn btn-success btn-block">Agregar Inmueble</button>
    </form>
</div>

{% endblock %}