{% extends 'base.html' %}

{% block 'content' %}
<h1 class="text-center form-title">{{ inmueble.nombre }}</h1>
<div class="inmueble-detalle content-container">
    <p><strong>Descripción:</strong> {{ inmueble.descripcion }}</p>
    <p><strong>Precio:</strong> ${{ inmueble.precio_arriendo }}</p>
    <p><strong>Metros cuadrados construidos:</strong> {{ inmueble.m2_construidos }}</p>
    <p><strong>Metros cuadrados totales:</strong> {{ inmueble.m2_totales }}</p>
    <p><strong>Estacionamientos:</strong> {{ inmueble.estacionamientos }}</p>
    <p><strong>Habitaciones:</strong> {{ inmueble.habitaciones }}</p>
    <p><strong>Baños:</strong> {{ inmueble.banos }}</p>
    <p><strong>Dirección:</strong> {{ inmueble.direccion }}</p>
    <p><strong>Comuna:</strong> {{ inmueble.comuna }}</p>
    <p><strong>Tipo de inmueble:</strong> {{ inmueble.tipo_inmueble }}</p>
    <p><strong>Arrendador:</strong> {{ inmueble.arrendador }}</p>
    
    {% if user.is_authenticated and user.usuario.tipo_usuario == 'ARRENDATARIO' %}
    <a href="{% url 'solicitar_arriendo' inmueble.id %}" class="btn btn-success">Solicitar arriendo</a>
    {% endif %}
</div>
{% endblock %}