{% extends 'base.html' %}

{% block 'content' %}

<div class="inmueble-detalle content-container">
    <h1 class="text-center form-title">{{ inmueble.nombre }}</h1>
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Descripción:</strong> {{ inmueble.descripcion }}
      </li>
      <li class="list-group-item">
        <strong>Precio:</strong> ${{ inmueble.precio_arriendo }}
      </li>
      <li class="list-group-item">
        <strong>Metros cuadrados construidos:</strong> {{ inmueble.m2_construidos }}
      </li>
      <li class="list-group-item">
        <strong>Metros cuadrados totales:</strong> {{ inmueble.m2_totales }}
      </li>
      <li class="list-group-item">
        <strong>Estacionamientos:</strong> {{ inmueble.estacionamientos }}
      </li>
      <li class="list-group-item">
        <strong>Habitaciones:</strong> {{ inmueble.habitaciones }}
      </li>
      <li class="list-group-item">
        <strong>Baños:</strong> {{ inmueble.banos }}
      </li>
      <li class="list-group-item">
        <strong>Dirección:</strong> {{ inmueble.direccion }}
      </li>
      <li class="list-group-item">
        <strong>Comuna:</strong> {{ inmueble.comuna }}
      </li>
      <li class="list-group-item">
        <strong>Tipo de inmueble:</strong> {{ inmueble.tipo_inmueble }}
      </li>
      <li class="list-group-item">
        <strong>Arrendador:</strong> {{ inmueble.arrendador }}
      </li>
    </ul>
    
    {% if user.is_authenticated and user.usuario.tipo_usuario == 'arrendador' or 'ambos' %}
    <!-- Botón de solicitar arriendo, falta .... -->
    <div class="text-center mt-4">
      	<a href="{% url 'solicitar_arriendo' inmueble.id %}" class="btn btn-success">Solicitar arriendo</a>
    </div>
    {% endif %}
  </div>

{% endblock %}