{% extends 'base.html' %}

{% block 'content' %}
<div class="content-container">
    <h3 class="mb-5 text-center">Listado de arriendo en arriendoapp</h3>
    <div class="inmuebles-grid">
        {% for inmueble in inmuebles %}
        <div class="inmueble-card">
            <h2>{{ inmueble.nombre }}</h2>
            <p>{{ inmueble.descripcion|truncatewords:20 }}</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><p>Precio: <i class="fas fa-dollar-sign"></i> {{ inmueble.precio_arriendo }}</p></li>
                <li class="list-group-item"><p>Comuna: <i class="fas fa-map-marker-alt"></i> {{ inmueble.comuna }}</p></li>
                <a href="{% url 'detalle_inmueble' inmueble.id %}" class="btn btn-primary">Ver detalles</a>
            </ul>    
        </div>
        {% empty %}
        <p>No hay inmuebles disponibles.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}