{% extends 'base.html' %}

{% block 'content' %}
<div class="content-container">
    <h3 class="mb-4">Listado de arriendo en arriendoapp</h3>
    <div class="inmuebles-grid">
        {% for inmueble in inmuebles %}
        <div class="inmueble-card">
            <h2>{{ inmueble.nombre }}</h2>
            <p>{{ inmueble.descripcion|truncatewords:20 }}</p>
            <p>Precio: ${{ inmueble.precio_arriendo }}</p>
            <p>Comuna: {{ inmueble.comuna }}</p>
            <a href="{% url 'detalle_inmueble' inmueble.id %}" class="btn btn-primary">Ver detalles</a>
        </div>
        {% empty %}
        <p>No hay inmuebles disponibles.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}