{% extends 'base.html' %}

{% block 'content' %}
<div class="content-container">
    <h1 class="form-title">Solicitudes de Arriendo</h1>
    {% if solicitudes %}
        <ul class="list-group text-center">
            {% for solicitud in solicitudes %}
                <li class="list-group-item">
                    <strong>{{ solicitud.arrendatario.usuario.nombres }} {{ solicitud.arrendatario.usuario.apellidos }}</strong> ha solicitado arrendar <strong>{{ solicitud.inmueble.nombre }}</strong>
                    <p><em>{{ solicitud.mensaje }}</em></p>
                    <p><em>Fecha de solicitud: {{ solicitud.fecha_solicitud }} por {{ solicitud.arrendatario.email }}</em></p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="alert alert-info">No tienes solicitudes de arriendo en este momento.</p>
    {% endif %}
</div>
{% endblock %}